<table mat-table [dataSource]="quotesData" class="mat-elevation-z8">
    <ng-container matColumnDef="Ticker">
        <th mat-header-cell *matHeaderCellDef> Ticker </th>
        <td mat-cell *matCellDef="let element"> {{ element.ticker }} </td>
    </ng-container>
    <ng-container matColumnDef="Last Price">
        <th mat-header-cell *matHeaderCellDef> Last Price </th>
        <td mat-cell *matCellDef="let element"> {{ element.lastPrice }} </td>
    </ng-container>
    <ng-container matColumnDef="Bid Price">
        <th mat-header-cell *matHeaderCellDef> Bid Price </th>
        <td mat-cell *matCellDef="let element"> {{ element.bidPrice }} </td>
    </ng-container>
    <ng-container matColumnDef="Bid Size">
        <th mat-header-cell *matHeaderCellDef> Bid Size </th>
        <td mat-cell *matCellDef="let element"> {{ element.bidSize }} </td>
    </ng-container>
    <ng-container matColumnDef="Ask Price">
        <th mat-header-cell *matHeaderCellDef> Ask Price </th>
        <td mat-cell *matCellDef="let element"> {{ element.askPrice }} </td>
    </ng-container>
    <ng-container matColumnDef="Ask Size">
        <th mat-header-cell *matHeaderCellDef> Ask Size </th>
        <td mat-cell *matCellDef="let element"> {{ element.askSize }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>