<h2>Add New Trader</h2>
<mat-divider class="creation-header"></mat-divider>
<form [formGroup]="traderForm" (ngSubmit)="submit()" class="trader-creation-form">
    <p>
        <mat-form-field appearance="fill">
            <mat-label for="firstName">First Name</mat-label>
            <input matInput id="firstName" formControlName="firstName" type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label for="lastName">Last Name</mat-label>
            <input matInput id="lastName" formControlName="lastName" type="text">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" formControlName="email" type="text" placeholder="Ex. name@email.com">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label for="country">Country</mat-label>
            <input matInput id="country" formControlName="country" type="text" placeholder="Ex. Canada">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label for="dob">Date of Birth</mat-label>
            <input matInput id="dob" formControlName="dob" type="text" placeholder="Choose The Date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
</form>
<mat-divider class="creation-footer"></mat-divider>
<button mat-button class="button" type="submit" color="primary" (click)="submit()">Submit</button>
<button mat-button (click)="cancel()">Cancel</button>