<mat-grid-list cols="5" rowHeight="4:1">
    <mat-grid-tile rowspan="1" colspan="5">
        <h1>Trader Account</h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="5" colspan="2">
        <mat-card><mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                    from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally bred for hunting.</p>
            </mat-card-content></mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="5" colspan="1">
        <mat-card><mat-card-content>
                <p>This card indeterminates progress bar.</p>
                <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                    from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally bred for hunting.</p>
            </mat-card-content></mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="button" rowspan="1" colspan="2">
        <button mat-raised-button>Deposit Funds</button>
        <button mat-raised-button>Withdraw Funds</button>
    </mat-grid-tile>
</mat-grid-list>