<mat-grid-list cols="4" rowHeight="6:1">
    <mat-grid-tile rowspan="1" colspan="4">
        <h1>Trader Account</h1>
    </mat-grid-tile>
    <mat-grid-tile class="operations" rowspan="2" colspan="1">
        <button mat-raised-button>Deposit Funds</button>
        <button mat-raised-button>Withdraw Funds</button>
    </mat-grid-tile>
    <mat-grid-tile class="amount" rowspan="2" colspan="1">
        <mat-card class="amount-card">
            <mat-card-content class="amount-content">
                <h1>Amount: {{trader.amount}}$</h1>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="information" rowspan="4" colspan="4">
        <mat-card class="information-card">
            <mat-card-content>
                <table>
                    <tr>
                        <td>First Name:</td>
                        <td>{{trader.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>{{trader.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{trader.email}}</td>
                    </tr>
                    <tr>
                        <td>Date Of Birth:</td>
                        <td>{{trader.dob}}</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>{{trader.country}}</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>