mat-card
    padding: 2%

mat-list
    width: 100%

button
    width: 40%
    height: 90%
    margin-left: 0
    margin-right: auto

h1
    margin-left: 0
    margin-right: auto

table
    width: 30%
    font-size: 1.1em
    border-spacing: 0 1em

.operations
    margin-top: 5% !important

.amount
    width: 55% !important
    margin-top: 5% !important

.amount-card
    width: 100%
    height: 65%
    display: flex
    align-items: center

.amount-content
    width: 100%

.information
    width: 80% !important
    height: 80% !important
    padding-top: 0 !important

.information-card
    width: 100%
